body{
    display: flex;
    background-image: url(https://static.tildacdn.com/tild3736-3037-4334-b863-353562353039/d946dbce69a24e0288d5.jpg);
}

.face{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}   

.startButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a06353;
    color: #ffffff;
    border-radius: 32px;
    height: 2em;
    width: 10em;
    margin-top:4em;
    cursor: pointer
}
.memMenu{
    display: flex;
    position: absolute;
    height: 90vh;
    width: 90vw;
    background-color: #ffe6d8;
    border-radius: 32px;
    margin-left:2.5%;
    margin-top: 2.5%;
    flex-direction: column;
}
.text{
    display: flex;
    align-items: center;
    height:3%;
    width: 67%;
    background-color: transparent;
    margin-left: 2%;
    margin-top: 3%;
    font-size: 2.5em;
    color: #a06353;
}

.choiceMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    max-width: 500px;
    margin: 20% auto;
}
