body{
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('https://static.tildacdn.com/tild3736-3037-4334-b863-353562353039/d946dbce69a24e0288d5.jpg');
    background-size: cover;/* полупрозрачная подложка */
    /* backdrop-filter: blur(8px) brightness(0.7); */
}
h1{
    color: #ffe6d8;
}
p{
    color: #ffe6d8;
}

.plate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 32px;
}

.face{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}   

.startButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2b6b0;
    color: #74483d;
    border-radius: 32px;
    height: 2em;
    width: 10em;
    margin-top:4em;
    cursor: pointer
}
.memMenu{
    display: flex;
    position: fixed;
    height: 90vh;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(8px) brightness(0.7);
    border-radius: 32px;
    margin-left:2.5%;
    margin-top: 2.5%;
    flex-direction: column;
}

.text{
    display: flex;
    align-items: center;
    height:3%;
    width: 67%;
    background-color: transparent;
    margin-left: 2%;
    margin-top: 3%;
    font-size: 2.5em;
    color: #c2b6b0;
}

.choiceMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    max-width: 500px;
    margin: 20% auto;
}

.result{
    display: flex;
    position: fixed;
    align-items: center;
    height: 90vh;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 32px;
    margin-left:2.5%;
    margin-top: 2.5%;
    flex-direction: column;

}

.close{
    display: flex;
    justify-content: end;
    height: 7%;
    width: 50%;
    gap: 2em;
}

.coolBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c2b6b0;
    border-radius: 0.8em;
    margin-top: 2%;
    height: 2em;
    width: 10em;
    cursor: pointer;
}

.picturePlace{
    display: flex;
    background-color: blue;
    margin-top: 2%;
    height: 61%;
    width: 97%;
    margin-bottom: 2em;
}
#memeText{
    margin-bottom: 2em;
}
